@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body{
    font-family: 'Roboto', sans-serif;
    background-color:#EAEAEA;
    
}

.main{
    margin-top: 45px;
    margin-left: 125px;
    margin-bottom: 45px;
    margin-right: 125px;
    padding: 125px;
    background-color:#FFFFFF;
    border-radius: 10px;
}

.main .title{
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    color: #1B1B1B;
}

.main .title img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.main .title .legenda{
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #8F8F8F;
}

h2{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #1B1B1B;
    line-height: 26px;
}

h3{
    font-weight: 700;
    font-size: 18px;
    text-align: left;
    color: #1B1B1B;
    line-height: 26px;
}
ul ol{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    line-height: 26px;
}

.main .ingredients{
    line-height: 26px;
}

.main .ingredients .massa{

}

.preparo{
    line-height: 26px;
}